:root {
  --background-color: #1a1a1a;
  --mainText-color: white;
  --secondaryText-color: black;
  --navfoot-color: black;
}

@font-face {
  font-family: JaroFont;
  src: url(Jaro.ttf);
}

* {
  font-family: JaroFont;
  margin: 0;
  font-weight: lighter;
}

.white {
  color: white;
}
.center {
  text-align: center;
  align-items: center;
  padding-top: 3rem;
}
.hover {
  transition: transform 0.3s ease-in-out;
}
.hover:hover {
  transform: scale(1.2);
}
img {
  pointer-events: none;
}
.test {
  color: white;
}
body {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

.mainCont {
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* NAVBAR */
.navBar {
  width: 100%;
  min-height: 3.5rem;
  max-height: 3.5rem;
  background-color: var(--navfoot-color);
  color: var(--mainText-color);
  align-content: center;
}

.navContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  align-items: center;
}

.navContents ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.navContents li {
  padding: 0 1rem 0 1rem;
  line-height: 0.5rem;
}

.navContents ul a {
  text-decoration: none;
  color: var(--mainText-color);
  font-size: 0.8rem;
  font-weight: 700;
}

.DownloadBtn {
  color: var(--secondaryText-color);
  background-color: var(--mainText-color);
  font-weight: 700;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 1rem;
  text-decoration: none;
  border-style: none;
}
/* NAVBAR */

/*MainSection*/
.MainSection {
  display: flex;
  flex-direction: row;
  height: 60%;
}
.MainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  color: var(--mainText-color);
  width: 50%;
  line-height: 3rem;
}
.MainHeader h1 {
  font-size: 9rem;
  line-height: 5rem;
}
.MainHeader p {
  margin-left: 1.45rem;
  letter-spacing: 0.335rem;
  font-size: 1rem;
  font-weight: 700;
}
.HeaderBTN {
  color: var(--secondaryText-color);
  background-color: var(--mainText-color);
  font-weight: lighter;
  font-size: 2.5rem;
  padding: 0.3rem 2rem 0.3rem 2rem;
  border-radius: 3rem;
  text-decoration: none;
  border-style: none;
}

.SideImage {
  width: 50%;
  height: 100%;
  background-color: var(--background-color);
}

.SideImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
}
/*MainSecion*/

/*DETAILS*/
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 40%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  text-align: center;
  color: var(--mainText-color);
  justify-content: center;
}

.content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  height: 2rem;
}

.content h1 {
  line-height: 2rem;
  font-weight: 700;
}
/*DETAILS*/

/*FOOTER*/
footer {
  width: 100%;
  height: 1.3rem;
  color: var(--mainText-color);
  background-color: var(--navfoot-color);
  text-align: center;
  font-size: 0.7rem;
  align-content: center;
  margin-top: auto;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
}
/*FOOTER*/

/*SOCIALS PAGE*/
.aboutCont {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  color: var(--mainText-color);
  font-size: 2.6rem;
  margin-top: 3rem;
  text-align: center;
}
.aboutCont a {
  text-decoration: none;
  color: var(--mainText-color);
}
.socials {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 7rem;
  padding-bottom: 140px;
}
.socialsCont {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  font-size: 1rem;
  line-height: 3rem;
  transition: transform 0.3s ease-in-out;
}
.socialsCont img {
  width: 14rem;
  align-self: center;
}
.socialsCont:hover {
  transform: scale(1.3);
}
/*SOCIALS PAGE*/

/*ABOUT PAGE*/
.profile {
  max-width: 20rem;
  border-radius: 50%;
  align-self: center;
  margin-top: 5rem;
}
.profText {
  font-size: 2.5rem;
}

.aboutText {
  font-family: arial;
  max-width: 70%;
  font-size: 1.2rem;
}

.large {
  font-size: 4rem;
}

#btnMenu {
  border: none;
  display: none;
  background-color: transparent;
  transition-duration: 0.7s;
}
#btnClose {
  position: absolute;
  right: 0;
  margin: 1rem;
  border: none;
  background-color: transparent;
  transition-duration: 0.7s;
}
#btnMenu:hover,
#btnClose:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#Menu {
  display: none;
  position: fixed;
  height: 100vh;
  background-color: black;
  width: 100%;
  overflow: auto;
  margin: -50rem 0 0 0;
  z-index: 1;
  transition-duration: 0.6s;
}

#Menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 7rem 0 0 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#Menu ul li {
  padding: 4rem 0 4rem 0;
  font-size: 2rem;
  color: var(--mainText-color);
}

#Menu a {
  text-decoration: none;
  color: white;
}
.menu {
  width: 2rem;
}

@media screen and (max-width: 950px) {
  body {
    height: auto;
  }
  .MainHeader {
    width: 100%;
    margin-top: 5rem;
  }
  .SideImage {
    display: none;
  }
  .content {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .details {
    height: 100%;
    margin-top: 0;
    background-color: var(--background-color);
  }
  .socials {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    align-self: center;
    width: 100%;
    height: 100%;
  }
  .socialsCont {
    width: 100%;
    margin: 5rem 0 5rem 0;
  }
  .DownloadBtn {
    display: none;
  }
}

@media screen and (max-width: 816px) {
  .navBar {
    align-content: center;
  }
  .navContents ul {
    display: none;
  }
  #btnMenu {
    display: block;
  }
  #Menu {
    display: block;
  }
  .MainHeader {
    width: 100%;
  }
  .SideImage {
    display: none;
  }
  .DownloadBtn {
    display: none;
  }
  .details {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 80%;
    height: auto;
    padding: 1rem 0 1rem 0;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .navContents ul a {
    font-size: 0.6rem;
  }
  .MainHeader {
    width: 100%;
  }

  .MainHeader h1 {
    font-size: 7rem;
  }

  .MainHeader p {
    margin-left: 0.9rem;
    font-size: 0.6rem;
    line-height: 1.1rem;
    margin-bottom: 1rem;
  }
  .socials {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .HeaderBTN {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
}
